.page_container {
    width: 100vw;
    height: calc(100vh - 55px);
    overflow: hidden;
    border-top-left-radius: 15px;
}


.container {
    overflow: auto;
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 19%, rgba(232, 236, 255, 1) 100%);
}

.page_title {
    font-size: 30px;
    font-weight: 700;
    color: var(--primary-color);
}

.table_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.table {
    display: flex;
    flex-direction: column;
    width: 70vw;
    gap: 5px;
}

.titles {
    width: 100%;
    height: 35px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    background-color: rgb(202, 206, 255);
}

.elem {
    width: 16vw;
    display: flex;
    justify-content: left;
}

.title {
    font-size: 15px;
    color: var(--primary-color);
    font-weight: 600;
}

.requests {
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    background-color: rgb(229, 231, 254);
    cursor: pointer;
    transition: all .15s ease;
}

.content {
    font-size: 15px;
    color: rgb(92, 92, 92);
    font-weight: 500;
}

.rejected {
    color: red;
    background-color: rgb(255, 188, 188);
    width: fit-content;
    padding: 2px 5px;
    border-radius: 10px;
}

.approved {
    color: green;
    background-color: rgb(204, 255, 129);
    width: fit-content;
    padding: 2px 5px;
    border-radius: 10px;
}

.pending {
    color: orange;
    background-color: rgb(255, 243, 183);
    width: fit-content;
    padding: 2px 5px;
    border-radius: 10px;
}

.requests:hover {
    background-color: greenyellow;
}